# Environment Variables
NODE_ENV="development"

# Database Variables
DATABASE_URL=""

# Auth Variables
JWT_SECRET=""

# Twilio Variables
TWILIO_ACCOUNT_SID=""
TWILIO_AUTH_TOKEN=""
TWILIO_PHONE_NUMBER=""